@media (min-width: 768px) {
    .page__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly; 
        // padding: 2vh;  
        padding-right: 45vh;     
    }
    .header__title {
        padding-bottom: 4vh;
    }
    .header__nav {
        &--item {
            padding: 4vh 2vw;
            margin: 0 3vw;
        }
    }
    // NEED TO FIGURE OUT WHER ETO PUT THIS FOR
    // UNDERLINE
    #header__nav--current {
        border-bottom: 5px solid $white;
        // height: 100%;
    }
    .hero__img {
        height: 55vh;
    }
    .hero__img--caption {
        font-size: 4rem;
        font-style: bold-font;
    }
    .bio__paragraphs {
        flex-direction: row;
        padding-bottom: 0;
    }
    // @mixin header-font {
    //     font-size: 3rem;
    // }
    .band__quote--name {
        font-size: 1.5rem;
    }
    .photo__gallery {
        &--title {
            font-size: 2.5rem;
        }
        &--photo {
            flex-flow: row wrap;
            // max-width: 33%;
            justify-content: space-evenly;
        }
        &--photos {
            display: flex;
            flex-flow: row wrap;
            & * {
                width: 33%;
                height: 33%;
                // justify-content: space-evenly;
                padding: 1vh;
            }
        }
    }
    .home__footer {
        padding-bottom: 3vh;
        &--tablet {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
        &--logo {
            display: initial;
            padding-top: 2vh;
            padding-left: 11vh;
        }
        &--columns {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            // width: 33%;
            // height: 33%;
            // padding: 0 1vh
            // justify-content: space-between;
        }
        &--column {
            display: flex;
            flex-flow: row wrap;
            // width: 100%;
            // justify-content: space-between;
            width: 33%;
            height: 33%;
            // padding-right: 2vh;
            // padding-left: 0;
            // box-sizing: border-box;
        }
    }
}