@media (min-width: 650px) {
    .page__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly; 
        padding-right: 35vw;     
    }
    .header__title {
        padding: 2vh 0 4vh 0;
    }
    .header__nav {
        &--item {
            padding: 4vh 2vw;
            margin: 0 3vw;
        }
    }
    #header__nav--current {
        border-bottom: 5px solid $white;
    }
    .hero__img {
        height: 65vh;
    }
    .hero__img--caption {
        font-size: 4rem;
        font-style: bold-font;
    }
    .band__quote {
        padding: 4vh 3vw 1vh 3vw;
    }
    .band__quote--name {
        font-size: 1.5rem;
        padding-left: 3vw;
    }
    .bio__paragraphs {
        flex-direction: row;
        padding: 2vh 2vw 0 1.5vw;
    }
    .photo__gallery {
        padding: 2vh 2vw;
        padding-bottom: 5vh;
        &--title {
            font-size: 2.5rem;
            padding: 0 1vw;
        }
        &--photo {
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
        &--photos {
            display: flex;
            flex-flow: row wrap;
            & * {
                width: 33%;
                height: 33%;
                padding: 1vh;
            }
        }
    }
    .home__footer {
        padding-top: 5vh;
        padding-bottom: 3vh;
        &--tablet {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
        &--icons {
            padding-right: 6vw;
        }
        &--logo {
            display: initial;
            padding: 2vh 2vw 0 10vw;
        }
        &--columns {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        &--column {
            display: flex;
            flex-flow: row wrap;
            width: 33%;
            height: 33%;
        }
    }
}