@font-face {
    font-family: standard-font;
    src: url('../bandsite-fonts/AvenirNextRegular.otf');
}

@font-face {
    font-family: semi-bold-font;
    src: url('../bandsite-fonts/AvenirNextDemiBold.otf');
}

@font-face {
    font-family: bold-font;
    src: url('../bandsite-fonts/AvenirNextBold.otf');
}