@media (min-width: 650px) {
    .about__img--title {
        font-family: bold-font;
        font-size: 1.7rem; 
        padding-bottom: 3vh;
    }
    .about__img--caption {
        padding-right: 12vw;
    }
    .sound__byte {
        // padding-right: 16vw;
        width: 65%;
    }
    tbody {
        width: 100%;
    }
    .shows {
        // width: 100%;
        &__table {
            width: 100%;
            flex-direction: row;
            // align-items: center;
        }
        &__title {
            padding: 4vh 0;
        }
        &__section {
            // width: 100%;
            // padding: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        // &__details {
        //     // font-size: 1.1rem;
        // }
        &__descriptors--tablet {
            color: $silver;
            // font-weight: 550;
            display: flex;
            font-size: 0.9rem;
            font-weight: 700; 
            padding-bottom: 4vh;
            // justify-content: flex-start;
            // padding-right: 38%;
            // width: 25%;
            & * {
                // width: 25%;
                padding: 0;
            }
        }
        &__descriptor {
            display: none;
        }
        &__tablet--date {
            width: 28%;
        }
        &__tablet--details {
            width: 22%;
        }
        &__date {
            // font-size: 1.1rem;
            width: 28%;
            padding: 0;
        }
        &__details {
            padding: 0;
            width: 22%;
        }
        // would be great if we could get the two
        //  centre thigns clsoer together
        &__tickets {
            width: 28%;
            // padding: 1.5vh 3vw;
        }
        &__button {
            width: 100%;
            // font-size: 1.1rem;
            font-family: semi-bold-font;
        }
    }
}