@font-face {
  font-family: standard-font;
  src: url("../bandsite-fonts/AvenirNextRegular.otf");
}

@font-face {
  font-family: semi-bold-font;
  src: url("../bandsite-fonts/AvenirNextDemiBold.otf");
}

@font-face {
  font-family: bold-font;
  src: url("../bandsite-fonts/AvenirNextBold.otf");
}

body {
  font-family: standard-font;
}

.page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
}

.header__title {
  text-align: center;
  margin: 0;
  padding: 2vh 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__title:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #323232;
  color: #AFAFAF;
}

.header__nav--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  padding: 12px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__nav--item * {
  text-decoration: none;
  color: #AFAFAF;
}

.header__nav--item:hover {
  color: #FFFFFF;
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

#header__nav--current {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

#header__nav--current:hover {
  -webkit-transform: none;
          transform: none;
}

.hero__img, .about__img {
  background-image: url("../bandsite-photos/sean-mungur-441728-unsplash.jpg");
  background-size: cover;
  background-position: center;
  min-height: 225px;
  height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
}

.hero__img--caption, .about__img--caption {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding-left: 3vw;
  padding-right: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: semi-bold-font;
}

.bio__header, .photo__gallery--title, .comments__header, .home__footer--header {
  color: #323232;
  padding-left: 3vw;
  font-family: bold-font;
  font-size: 1.8rem;
}

.band__photo, .photo__gallery--photo {
  width: 100%;
  height: auto;
  padding: 0 3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.band__quote, .bio__title {
  color: #323232;
  font-family: semi-bold-font;
  font-size: 1.3rem;
  padding: 2vh;
}

@media (min-width: 768px) {
  .band__quote, .bio__title {
    font-size: 1.9rem;
    font-family: bold-font;
  }
}

.band__quote--name {
  color: #323232;
  font-family: semi-bold-font;
  font-size: 1.3rem;
  padding: 4%;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .band__quote--name {
    font-size: 1.9rem;
    font-family: bold-font;
  }
}

.bio__title {
  padding: 4vh 2vh;
}

.bio__paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3vh;
}

.bio__paragraphs--para {
  color: #323232;
  font-size: 1rem;
  font-family: standard-font;
  padding: 0 2vh 3vh 2vh;
  line-height: 1.6rem;
}

.photo__gallery {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
  padding-bottom: 7vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.photo__gallery--title {
  padding-top: 5vh;
}

.photo__gallery--photo {
  padding: 1vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.photo__gallery--photo:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 7vh;
  border-bottom: solid #E1E1E1 1px;
  margin: 0 3vw;
}

.comments__photo {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4vh 3vw 0 0;
}

.comments__form--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.comments__form--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #AFAFAF;
  font-weight: 800;
  font-size: 0.9rem;
  padding: 1vh 0;
}

.comments__form--username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 8vh;
  font-family: standard-font;
  font-size: 1.1rem;
  color: #323232;
  padding-left: 2vw;
  border: #323232 2px solid;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.comments__form--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #AFAFAF;
  font-weight: 800;
  font-size: 0.9rem;
  padding: 4vh 0 1vh 0;
}

.comments__form--text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: standard-font;
  padding: 2vh 2vw;
  height: 12vh;
  border: #E1E1E1 1px solid;
  border-radius: 5px;
  background-color: #FAFAFA;
  margin-bottom: 3vh;
}

.comments__form--submit {
  width: 100%;
  height: 7vh;
  text-align: center;
  color: #FFFFFF;
  background-color: #323232;
  font-weight: 700;
  padding: 1.5vh 0;
  border: none;
  border-radius: 5px;
}

#commentContent {
  padding-bottom: 3vh;
}

.commentDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 3vh;
  border-bottom: solid #E1E1E1 1px;
  margin: 4vh 2vw;
}

.photoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profilePhoto {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3vw 0 0;
}

.inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nameDateDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vh 0;
}

.nameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: semi-bold-font;
  color: #323232;
}

.dateDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFAFAF;
}

.textDiv {
  color: #323232;
  font-weight: 300;
  line-height: 1.3rem;
  padding-top: 1vh;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}

.home__footer {
  background-color: #323232;
  padding: 7vh 3vw;
}

.home__footer * {
  color: #FFFFFF;
}

.home__footer--header {
  margin: 0;
  font-size: 2.5rem;
  padding: 1vh 0;
}

.home__footer--icons * {
  padding: 3vh 1vh;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.home__footer--icons *:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home__footer--names {
  color: #323232;
  font-size: 1rem;
  font-family: standard-font;
  line-height: 1.4rem;
  padding: 4% 0;
  color: #FFFFFF;
}

.home__footer--info {
  color: #323232;
  font-size: 1rem;
  font-family: standard-font;
  line-height: 1.4rem;
  padding: 4% 0;
  color: #E1E1E1;
}

.home__footer--info * {
  text-decoration: none;
  color: #E1E1E1;
}

.home__footer--logo {
  display: none;
}

#home__footer--legal {
  padding-top: 4vh;
  margin-right: 15vw;
}

@font-face {
  font-family: standard-font;
  src: url("../bandsite-fonts/AvenirNextRegular.otf");
}

@font-face {
  font-family: semi-bold-font;
  src: url("../bandsite-fonts/AvenirNextDemiBold.otf");
}

@font-face {
  font-family: bold-font;
  src: url("../bandsite-fonts/AvenirNextBold.otf");
}

body {
  font-family: standard-font;
}

.about__img {
  background-image: url("../bandsite-photos/keyboard-img.jpg");
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__img--title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 8vh;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img--caption {
  font-family: bold-font;
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding: 3vh 0vw;
}

.sound__byte {
  width: 100%;
  height: auto;
  padding-top: 5vh;
  border: none;
}

.shows {
  padding: 2vw;
  padding-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shows__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shows__title {
  color: #323232;
  font-family: bold-font;
  font-size: 2rem;
  padding: 6vw 0vw;
  text-align: left;
}

.shows__title--desktop {
  display: none;
}

.shows__descriptors--tablet {
  display: none;
}

.shows__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
  border-bottom: solid #E1E1E1 1px;
}

.shows__descriptor {
  color: #AFAFAF;
  font-weight: 550;
  padding: 1vw 0;
}

.shows__date {
  color: #323232;
  font-family: semi-bold-font;
  padding: 1vw 0 4vw 0;
}

.shows__details {
  color: #323232;
  font-weight: 400;
  padding: 1vw 0 4vw 0;
}

.shows__tickets, .shows__button {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #323232;
  font-weight: 600;
  padding: 1.5vh 0;
  border: none;
  border-radius: 5px;
}

@media (min-width: 685px) {
  .page__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-right: 35vw;
  }
  .header__title {
    padding: 2vh 0 4vh 0;
  }
  .header__nav--item {
    padding: 4vh 2vw;
    margin: 0 3vw;
  }
  #header__nav--current {
    border-bottom: 5px solid #FFFFFF;
  }
  .hero__img, .about__img {
    height: 65vh;
  }
  .hero__img--caption, .about__img--caption {
    font-size: 4rem;
    font-style: bold-font;
  }
  .band__quote, .bio__title {
    padding: 4vh 3vw 1vh 3vw;
  }
  .band__quote--name {
    font-size: 1.5rem;
    padding-left: 3vw;
  }
  .bio__paragraphs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2vh 2vw 0 1.5vw;
  }
  .photo__gallery {
    padding: 2vh 2vw;
    padding-bottom: 5vh;
  }
  .photo__gallery--title {
    font-size: 2.5rem;
    padding: 0 1vw;
  }
  .photo__gallery--photo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .photo__gallery--photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .photo__gallery--photos * {
    width: 33%;
    height: 33%;
    padding: 1vh;
  }
  .comments {
    padding-bottom: 4vh;
    margin: 0 14vw;
    border-bottom: solid #E1E1E1 2px;
  }
  .comments__header {
    font-size: 2.5rem;
  }
  .comments__form--text {
    font-size: 1rem;
    color: #323232;
  }
  .comments__form--submit {
    width: 35%;
    margin-left: 65%;
  }
  .commentContent {
    padding-bottom: 1vh;
  }
  .commentDiv {
    margin: 3vh 14vw;
  }
  .nameDateDiv {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .dateDiv {
    padding-left: 1vw;
    font-weight: 100;
  }
  .home__footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
  }
  .home__footer--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .home__footer--icons {
    padding-right: 6vw;
  }
  .home__footer--logo {
    display: initial;
    padding: 2vh 2vw 0 10vw;
  }
  .home__footer--columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__footer--column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 33%;
    height: 33%;
  }
}

@media (min-width: 1024px) {
  .page__header {
    padding-right: 50vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__title {
    margin-left: 9vw;
  }
  .header__nav--item {
    font-size: 0.8rem;
    padding: 4vh 1vw;
  }
  .hero__img--caption, .about__img--caption {
    padding-right: 50vw;
    padding-left: 10vw;
    font-size: 2.5rem;
    font-family: bold-font;
  }
  .bio__header, .photo__gallery--title, .comments__header, .home__footer--header {
    font-size: 1.8rem;
    padding-left: 10vw;
  }
  .band__photo, .photo__gallery--photo {
    padding-left: 17vw;
    padding-right: 17vw;
  }
  .band__quote, .bio__title {
    font-size: 1.2rem;
    padding: 5vh 0 4vh 0;
    padding-left: 17vw;
    padding-right: 17vw;
  }
  .band__quote--name {
    font-family: semi-bold-font;
    font-size: 0.8rem;
    padding: 0;
    padding-left: 17vw;
    padding-right: 17vw;
  }
  .bio__title {
    padding-left: 17vw;
    padding-right: 17vw;
    padding-bottom: 2vh;
  }
  .bio__paragraphs {
    padding-left: 15.5vw;
    padding-right: 15.5vw;
  }
  .bio__paragraphs--para {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .photo__gallery {
    padding-bottom: 3vh;
  }
  .photo__gallery--photos {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .photo__gallery--photo {
    padding: 1vh;
  }
  .comments {
    margin: 0 28vw;
  }
  .comments__header {
    padding-left: 12vw;
  }
  .comments__form--name {
    font-size: 0.7rem;
  }
  .comments__form--comment {
    font-size: 0.7rem;
  }
  .comments__form--username {
    font-size: 0.8rem;
    padding-left: 1vw;
  }
  .comments__form--text {
    font-size: 0.8rem;
    padding-left: 1vw;
  }
  .textDiv {
    padding-top: 0;
  }
  .commentContent {
    padding-bottom: 1vh;
  }
  .commentDiv {
    margin: 3vh 28vw;
  }
  .nameDateDiv {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .dateDiv {
    padding-left: 1vw;
    font-weight: 100;
  }
  .home__footer {
    padding: 3vh 12vw 5vh 12vw;
  }
  .home__footer--header {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__footer--icons {
    padding-right: 15vw;
  }
  .home__footer--columns {
    padding-right: 11vw;
  }
  .home__footer--columns * {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .home__footer--column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home__footer--legal {
    font-size: 0.8rem;
    padding-top: 3vh;
    padding-bottom: 0;
  }
}

@media (min-width: 685px) {
  .about__img--title {
    font-family: bold-font;
    font-size: 1.7rem;
    padding-bottom: 3vh;
  }
  .about__img--caption {
    padding-right: 12vw;
  }
  .sound__byte {
    width: 65%;
  }
  tbody {
    width: 100%;
  }
  .shows__table {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shows__title {
    padding: 4vh 0;
  }
  .shows__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shows__descriptors--tablet {
    color: #AFAFAF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 4vh;
  }
  .shows__descriptors--tablet * {
    padding: 0;
  }
  .shows__descriptor {
    display: none;
  }
  .shows__tablet--date {
    width: 28%;
  }
  .shows__tablet--details {
    width: 22%;
  }
  .shows__date {
    width: 28%;
    padding: 0;
  }
  .shows__details {
    padding: 0;
    width: 22%;
  }
  .shows__tickets, .shows__button {
    width: 28%;
  }
  .shows__button {
    width: 100%;
    font-family: semi-bold-font;
  }
}

@media (min-width: 1024px) {
  .about__img {
    padding: 0vh 12vw 10vh 12vw;
    min-height: 80vh;
  }
  .about__img--title {
    font-size: 1.5rem;
    padding: 0;
  }
  .about__img--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }
  .about__img--caption {
    padding: 2vh 3vw 0 0;
    font-size: 2.7rem;
  }
  .sound__byte {
    width: 100%;
    height: 60%;
    padding-bottom: 2vh;
  }
  .shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: columns;
            flex-direction: columns;
    padding: 2vw 12vw;
  }
  .shows__title {
    display: none;
  }
  .shows__title--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #323232;
    font-family: bold-font;
    font-size: 2rem;
    padding: 0vh 6vw 0 0;
  }
  .shows__descriptors--tablet * {
    font-size: 0.7rem;
  }
  .shows__date {
    font-size: 1rem;
  }
  .shows__details {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=band-styles.css.map */